.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation__item {
  margin-bottom: 10px;
}

.navigation__nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.navigation__nav a:hover {
  background-color: #555;
}
