img {
  height: 15rem;
  width: 24rem;
  margin: 1rem;
}

.project-card {
  display: none;
  height: 18rem;
  width: 24rem;
  margin: 1rem;
  padding-left: 12rem;
}

.project-card.active {
  display: block;
}
